<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.georgeyang.mapper.RsGoodNormEntityMapper" >
  <resultMap id="BaseResultMap" type="cn.georgeyang.pojo.RsGoodNormEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="isDel" property="isDel" jdbcType="BIT" />
    <result column="goodId" property="goodId" jdbcType="INTEGER" />
    <result column="normId" property="normId" jdbcType="INTEGER" />
    <result column="stock" property="stock" jdbcType="INTEGER" />
    <result column="sellPrice" property="sellPrice" jdbcType="DOUBLE" />
    <result column="costPrice" property="costPrice" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, createTime, updateTime, isDel, goodId, normId, stock, sellPrice, costPrice
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.georgeyang.pojo.RsGoodNormEntityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_rs_good_norm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_rs_good_norm
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_rs_good_norm
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.georgeyang.pojo.RsGoodNormEntityExample" >
    delete from t_rs_good_norm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.georgeyang.pojo.RsGoodNormEntity" >
    insert into t_rs_good_norm (id, createTime, updateTime, 
      isDel, goodId, normId, 
      stock, sellPrice, costPrice
      )
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isDel,jdbcType=BIT}, #{goodId,jdbcType=INTEGER}, #{normId,jdbcType=INTEGER}, 
      #{stock,jdbcType=INTEGER}, #{sellPrice,jdbcType=DOUBLE}, #{costPrice,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.georgeyang.pojo.RsGoodNormEntity" >
    insert into t_rs_good_norm
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
      <if test="isDel != null" >
        isDel,
      </if>
      <if test="goodId != null" >
        goodId,
      </if>
      <if test="normId != null" >
        normId,
      </if>
      <if test="stock != null" >
        stock,
      </if>
      <if test="sellPrice != null" >
        sellPrice,
      </if>
      <if test="costPrice != null" >
        costPrice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=BIT},
      </if>
      <if test="goodId != null" >
        #{goodId,jdbcType=INTEGER},
      </if>
      <if test="normId != null" >
        #{normId,jdbcType=INTEGER},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="sellPrice != null" >
        #{sellPrice,jdbcType=DOUBLE},
      </if>
      <if test="costPrice != null" >
        #{costPrice,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.georgeyang.pojo.RsGoodNormEntityExample" resultType="java.lang.Integer" >
    select count(*) from t_rs_good_norm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_rs_good_norm
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        updateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDel != null" >
        isDel = #{record.isDel,jdbcType=BIT},
      </if>
      <if test="record.goodId != null" >
        goodId = #{record.goodId,jdbcType=INTEGER},
      </if>
      <if test="record.normId != null" >
        normId = #{record.normId,jdbcType=INTEGER},
      </if>
      <if test="record.stock != null" >
        stock = #{record.stock,jdbcType=INTEGER},
      </if>
      <if test="record.sellPrice != null" >
        sellPrice = #{record.sellPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.costPrice != null" >
        costPrice = #{record.costPrice,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_rs_good_norm
    set id = #{record.id,jdbcType=INTEGER},
      createTime = #{record.createTime,jdbcType=TIMESTAMP},
      updateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      isDel = #{record.isDel,jdbcType=BIT},
      goodId = #{record.goodId,jdbcType=INTEGER},
      normId = #{record.normId,jdbcType=INTEGER},
      stock = #{record.stock,jdbcType=INTEGER},
      sellPrice = #{record.sellPrice,jdbcType=DOUBLE},
      costPrice = #{record.costPrice,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.georgeyang.pojo.RsGoodNormEntity" >
    update t_rs_good_norm
    <set >
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        isDel = #{isDel,jdbcType=BIT},
      </if>
      <if test="goodId != null" >
        goodId = #{goodId,jdbcType=INTEGER},
      </if>
      <if test="normId != null" >
        normId = #{normId,jdbcType=INTEGER},
      </if>
      <if test="stock != null" >
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="sellPrice != null" >
        sellPrice = #{sellPrice,jdbcType=DOUBLE},
      </if>
      <if test="costPrice != null" >
        costPrice = #{costPrice,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.georgeyang.pojo.RsGoodNormEntity" >
    update t_rs_good_norm
    set createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      isDel = #{isDel,jdbcType=BIT},
      goodId = #{goodId,jdbcType=INTEGER},
      normId = #{normId,jdbcType=INTEGER},
      stock = #{stock,jdbcType=INTEGER},
      sellPrice = #{sellPrice,jdbcType=DOUBLE},
      costPrice = #{costPrice,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>